name: Release
on:
  push:
    branches:
      - master

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Setup NodeJS 14
        uses: actions/setup-node@master
        with:
          node-version: 14

      - name: Yarn Install Dependecies
        run: yarn

      - name: Lint Commit Message
        run: |
          yarn add -D -W @commitlint/config-conventional
          echo $(git log -1 --pretty=format:"%s") | yarn commitlint

      - name: Lint Source
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:cov

      - name: Upload Report to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
          fail_ci_if_error: false
          files: ./coverage/cobertura-coverage.xml
          name: codecov-umbrella

      - name: Release
        run: npx lerna publish from-package --yes --dist-tag alpha
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
